<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <clear/>
      <add name="SoftwareAssociates.ProCareHealth.Properties.Settings.MainSqlConnection"
            connectionString="Data Source=.;Initial Catalog=TimeSheetDB;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
      <add name="SoftwareAssociates.ProCareHealth.Properties.Settings.MainSqlConnection"
            connectionString="Data Source=.;Initial Catalog=TimeSheetDB;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
      <add name="SoftwareAssociates.ProCareHealth.Properties.Settings.MainSqlConnection"
          connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Integrated Security=True;Connect Timeout=30;Initial Catalog=TimeSheetDB"
          providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>